{% extends "encyclopedia/layout.html" %}

{% block title %}
    Edit Page
{% endblock %}

{% block body %}
    <h1>Edit {{title}}</h1>

    <form class="create-form" action="{% url 'edit' title=title %}" method="post">
        {% csrf_token %}
        <div>
            <textarea id="create-content" name="content" placeholder="Content (in Markdown)">{{content}}</textarea>
        </div>
        <div class="create-submit">
            <input type="submit" value="Confirm">
        </div>
    </form>

{% endblock body %}