{% extends "encyclopedia/layout.html" %}

{% block title %}
    New Page
{% endblock %}


{% block body %}
    <h1>Create New Page</h1>
    <form class="create-form" action="{% url 'new-page' %}" method="post">
        {% csrf_token %}
        <div class=form-label>
            <input class="title" type="text" name="title" placeholder="Create Title">
        </div>
        <div>
            <textarea id="create-content" name="content" placeholder="Content (in Markdown)"></textarea>
        </div>
        <div class="create-submit">
            <input type="submit" value="Confirm">
        </div>
    </form>
{% endblock %}